.about-hero-title{
    font-family: 'Fraunces';
font-weight: 900;
font-size: 40px;
line-height: 48px;
color: #FEFCF7;
padding-left: 85px;
padding-top: 137px;
}
.about-hero-text{
    font-family: 'Barlow';
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FEFCF7;
width: 445px;
padding-left: 85px;
padding-top: 24px;
}
.about-hero-bgi{
    width: 1280px;
    height: 450px;
    background-image: url(../img/about-bgi.jpg);
border-radius: 10px;
margin-right: 940px;
}
.about-hero{
    margin-bottom: 168px;
}
@media only screen and (max-width:768px) {
    .about-hero-title{
        font-family: 'Fraunces';
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    padding-left: 58px;
    padding-top: 118px;
    }
    .about-hero-text{
        font-family: 'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    width: 445px;
    padding-left: 58px;
    }
    .about-hero-bgi{
    width: 689px;
    height: 400px;
    background-image: url(../img/Object.jpg);
    border-radius: 10px;
    margin-right: 940px;
    }
    .about-hero{
        margin-bottom: 144px;
        margin-left: 30px;
    }
}