
.modal-title{
    font-family: 'Fraunces';
font-weight: 900;
font-size: 40px;
line-height: 48px;
color: #FFFFFF;
padding-left: 56px;
padding-top: 48px;
padding-bottom: 40px;
}
.modal-content{
font-family: 'Barlow';
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #333D4B;
mix-blend-mode: normal;
opacity: 0.8;
padding-left: 56px;
padding-bottom: 57px;
}
.modal-span{
   color: #0E8784 ;
}
.modal-text{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #83888F;
    padding-left: 56px;
    padding-bottom: 7px;
    padding-top: 57px;
}
.modal-link{
    background: #0E8784;
border-radius: 6px;
text-decoration: none;
padding: 16px 64px;
font-family: 'Fraunces';
font-weight: 900;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #FEFCF7;
margin-left: 13px;
}
.modal-link:active{
    background: #66D2CF;
border-radius: 6px;
}

.modal-narx{
    font-family: 'Fraunces';
font-weight: 900;
font-size: 32px;
line-height: 36px;
color: #333D4B;
padding-left: 56px;
}
.modal-div{
    opacity: 1;
}

.modal-div{
    position: fixed;
    background-color: #FEFCF7;
border-radius: 8px;
margin-left: 30%;
width: 540px;
height: 597px;
}
.modal-title-div{
    background: #333D4B;
border-radius: 8px 8px 0px 0px;
}
